{% load static %}
<html>
  <head>
    <title>Django Girls blog</title>
    <link
      rel="stylesheet"
      href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"
    />
    <link
      href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://unpkg.com/css.gg@2.0.0/icons/css/search.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/blog.css' %}" />
  </head>
  <body>
    <body>
      <nav>
        <h1  ><a  class="title_h1_blog" href="/">Goaking Blog</a></h1>
        <form action="{% url 'post_search' %}" method="get">
          <input id="inp_search" type="text" placeholder="Buscar post..." name="buscar_post" />
          <label for="btn_search"><i class="gg-search"></i></label>
          <button id="btn_search" ></button>
        </form>

        <ul>
          <li><a href="/">Inicio</a></li>
          
          <li><a  target="_blank" href="https://tutorial.djangogirls.org/es/">Tutorial Django</a></li>
          <li><a target="_blank" href="https://github.com/GoakingFy">Github</a></li>
          <li>
            <a target="_blank" class="btn_panel_admin" href="{% url 'admin:index' %}">Panel Admin</a>
          </li>
        </ul>
        {% if user.is_authenticated %}
        <a class="new_post" href="{% url 'post_new' %}"> Crear post <span class="glyphicon glyphicon-plus"></span></a>
        {% endif %}
      </nav>
      <div class="content container">
        <div class="row">
          <div class="col-md-8">{% block content %} {% endblock %}</div>
        </div>
      </div>
    </body>
  </body>
</html>
